<%- include('../inc/top') %>
    <div class="container">
        <div class="page-wrapper p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">ADD BUDGET</h2>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST" >

                            <div class="form-row">
                                <div class="name">Title</div>
                                <div class="value">
                                    <div class="row row-refine">
                                        <div class="input-group col-7">
                                            <input class="input--style-5" type="text" name="title">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Price</div>
                                <div class="value">
                                    <div class="row row-refine">
                                        <div class="input-group col-7">
                                            <input class="input--style-5" type="text" name="price">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Note</div>
                                <div class="value">
                                    <div class="row row-refine">
                                        <div class="input-group col-7">
                                            <input class="input--style-5" type="text" name="description">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row m-b-55">
                                <div class="name">Cattegory</div>
                                <select class="browser-default custom-select" style="width:200px;background-color: rgb(246, 248, 248);" name="category">
                                    <option selected> Select Category</option>
                                    
                                    
                                    <% list_cat.forEach(function(tl) { %>
                                        <option value="<%= tl._id%>"><%= tl.name %></option>
                                        
                                      <% }); %>
                        
                                  </select>
                            </div>
                            <div class="form-row m-b-55">
                                <div class="name">User</div>
                                <select class="browser-default custom-select" style="width:200px;background-color: rgb(246, 248, 248);" name="user">
                                    <option selected>Select Users</option>
                                    
                                    
                                    <% list_user.forEach(function(user) { %>
                                        <option value="<%= user._id%>"><%= user.username %></option>
                                        
                                      <% }); %>
                        
                                  </select>
                            </div>
                            <div class="form-row m-b-55">
                                <div class="name">Surplus</div>
                                <select class="browser-default custom-select" style="width:200px;background-color: rgb(246, 248, 248);" name="balance">
                                    <option selected>Select Surplus</option>
                                    
                                    
                                    <% list_balance.forEach(function(bl) { %>
                                        <option value="<%= bl._id%>"><%= bl.balance %></option>
                                        
                                      <% }); %>
                        
                                  </select>
                            </div>
                            <div class="form-row m-b-55">
                                <div class="name">Expenses?</div>
                                <div class="checkbox">
                                    <label><input name="check" type="checkbox" value="true"></label>
                                </div>
                            </div>



                            <div class="d-flex justify-content-center">
                                <button class="btn btn--radius-2 btn--red " type="submit">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../inc/bottom') %></div>