<%- include('../inc/top') %>
<div>

    <div class="container justify-content-center align-content-center text-center mt-5 ">
        <div class="text-black fs-2"> Detail</div>
       
    <div class="container justify-content-center align-content-center  " style="min-height: 750px;">
      
    
      <div class=" container-fluid align-content-center justify-content-center mt-3 text-center">
        <% list.forEach(data=>{%>
         
            <div class="text-dark" >Title:  <%=data.title %> </div>
                 
             
              
             
                  <div class="text-50" > User:  <%=data.id_user %></div>
                 
                
          
     
                 
                  
           
     
                     <div class="text-danger"> Price: <%=data.price %>
                     </div>
                     
                    
                    
             
         
               
             
              
              
         
          
          <%} ) %>

       
       
      
     
    
        
       
    
    
      </div>
    
       
    
    </div>


</div>



<%- include('../inc/bottom') %>